# ignore all
*

# unignore all with extensions
!*.*

# unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# environment variables file
.envrc

# nextjs files
web/dist
